.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    background-color: lightblue;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: white;
    border-radius: 10px;
    gap: 5px;
    padding: 8px;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-size: 17px;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}